{% extends 'base.html.twig' %}

{% block body %}
    <h1>Post</h1>

    <table>
        <tbody>
            <tr>
                <th>Idpost</th>
                <td>{{ post.idPost }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ post.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ post.descripcion }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ post.imagen }}</td>
            </tr>
            <tr>
                <th>Fechapost</th>
                <td>{% if post.fechaPost %}{{ post.fechaPost|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('post_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('post_edit', { 'idPost': post.idPost }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
