{% extends "base.html.twig"%}

{% block body %}
    Pruebas en symfony 2.8
    <br>
    <h1> {{ palabra }} </h1>
    {% for color in colores %}
    <br> {{ color }} <br>
    {% endfor %}
{% endblock %}