{% extends 'base.html.twig' %}

{% block body %}
    <h1>Perfil</h1>

    <table>
        <tbody>
            <tr>
                <th>Idperfil</th>
                <td>{{ perfil.idPerfil }}</td>
            </tr>
            <tr>
                <th>Perfil</th>
                <td>{{ perfil.perfil }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('perfil_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('perfil_edit', { 'idPerfil': perfil.idPerfil }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
